:root {
    /* font styles */
    --font-main: 'Source Sans Pro', Sans-Serif;
    --font-heading: 'Playfair Display', Serif;
    /* font sizes */
    --font-size: 16px;
    /* --font-size_sidebar: 10px; */
    --font-size_sidebar-title: 1rem;
    --font-size_title: 3rem;
    --font-size_title-2: 1.6rem;
    --font-size_subtitle: 1rem;
    /* colors */
    --font-color: #2e2e3b;
    --font-color_inverted: #c9c9c9;
    --bg-main: #fcfcfc;
    --bg-sidebar: #111111;
    --accent: #bd3636;
    --accent_2: #bd3636;
    --bg-title: #f7f7f7;
    /* sizes */
    --sidebar-size: 300px;
    --max-width: 1000px;
    /* animation */
    --transition-ease: cubic-bezier(.17, .67, .16, .99);
}

.test {
    color: white;
    background: fuchsia;
}

/* general
---------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.25;
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg-main);
}

a {
    color: var(--accent);
    padding: 1px 2px;
    border-radius: 3px;
    transition: 0.1s all var(--transition-ease);
}

a:hover {
    background-color: var(--accent);
    color: var(--font-color_inverted);
}

.underlined {
    text-decoration: underline;
}

.delay {
    transition-delay: 1s;
}

/* resume styling
---------------------------------------------------------------------- */

.container {
    margin: 0 auto 0 0;
    padding: 0;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row-reverse;
}

.main_text {
    line-height: 1.5;
}

.section_title {
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: var(--font-size_title-2);
    padding-bottom: 0.5rem;
    width: 100%;
    /* border-bottom: 1px solid var(--font-color); */
    margin-bottom: 1rem;
    letter-spacing: 1px;
    transition: 0.4s all var(--transition-ease);
}

.section_title.is-hidden {
    transform: translateX(30%);
    opacity: 0;
}

.section_title::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--font-color);
    margin-top: 0.5rem;
    transition: 1s width var(--transition-ease);
    transition-delay: 0.5;
}

.section_title.is-hidden::after {
    width: 0%;
}

/* title box
---------------------------------------------------------------------- */

.title {
    margin: 0 auto 3rem auto;
    padding: 0.5rem;
    width: 100%;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    /* z-index: 1000; */
    /* svg positioning */
    position: relative;
}

.title_svg {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
}

.title_svg path {
    stroke: var(--accent);
    stroke-width: 3px;
    /* fill: rgba(0, 0, 0, 0.02); */
    fill: var(--bg-title);
    /* animate path */
    stroke-dasharray: 400;
    stroke-dashoffset: 0;
    animation: dash 1s cubic-bezier(0.75, 0.17, 0.24, 0.88);
}

@keyframes dash {
    from {
        fill: transparent;
        /* stroke-dashoffset: 1500; */
        stroke-dasharray: 300;
    }
    to {
        fill: var(--bg-title);
        /* stroke-dashoffset: 0; */
        stroke-dasharray: 400;
    }
}

.title_name {
    font-family: var(--font-heading);
    font-size: var(--font-size_title);
    font-weight: 700;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
}

.title_name>span {
    min-width: 1rem;
    display: inline-block;
    font-size: var(--font-size_title);
}

.title_position {
    /* text-transform: uppercase; */
    font-size: var(--font-size_title-2);
}

.title_name,
.title_position {
    z-index: 1001;
}

/* loading animations
---------------------------------------------------------------------- */

/* .title::before {
    content: '';
    display: block;
    position: fixed;
    top: 100%;
    left: 100%;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 999;
    background: var(--bg-title);
    load-in animation
    transition: 1s all ease-in-out;
    animation: load 1s cubic-bezier(0.75, 0.17, 0.24, 0.88);
}

@keyframes load {
    from {
        left: 0%;
        opacity: 1;
    }
    to {
        left: 100%;
        opacity: 0;
    }
} */

/* main content
---------------------------------------------------------------------- */

.main {
    padding: 3rem 2rem 3rem 3rem;
    flex: 1 1 auto;
}

.main_section {
    margin-bottom: 7rem;
}

.main_content {
    width: 100%;
}

.main_content-item {
    margin-bottom: 5rem;
    display: block;
    width: 100%;
    /* roll in from the right */
    transition: 0.5s all var(--transition-ease);
}

.main_section:nth-child(2) .main_content-item:nth-child(1) {
    margin-bottom: 2rem;
}

.main_content-item.is-hidden {
    transform: translateX(10%);
    opacity: 0;
}

.main_content-title {
    font-family: var(--font-heading);
    /* font-weight: 600; */
    font-size: var(--font-size_title-2);
    margin-bottom: 0.4rem;
    margin-left: -1rem;
    padding-left: 0.8rem;
    border-left: 0.2rem solid var(--accent);
    /* min-height: 2em; */
}

.main_content-subtitle {
    margin-bottom: 1.6rem;
    font-size: var(--font-size_subtitle);
    max-width: 100%;
    margin-top: 1rem;
}

.main_content-caption {
    font-size: var(--font-size_subtitle);
    line-height: 1.5;
    display: block;
    max-width: 100%;
}

/* sidebar content
---------------------------------------------------------------------- */

.sidebar {
    max-width: var(--sidebar-size);
    padding: 3rem 2rem;
    background-color: var(--bg-sidebar);
    color: var(--font-color_inverted);
    /* transform: translateX(-30%); */
    /* opacity: 0; */
    animation-delay: 1s;
}

.sidebar.is-hidden {
    animation: slideIn 1s var(--transition-ease);
    transform: translateX(0%);
    /* opacity: 1; */
}

@keyframes slideIn {
    from {
        transform: translateX(-30%);
        /* opacity: 0; */
    }
    to {
        transform: translateX(0%);
        /* opacity: 1; */
    }
}

.sidebar_text {
    line-height: 1.5;
}

.sidebar_section {
    max-width: 20rem;
    margin: 0 auto 6rem auto;
    transition: 0.5s all var(--transition-ease);
}

.sidebar_section.is-hidden {
    /* roll in from left */
    transform: translateX(-20%);
    opacity: 0;
}

.sidebar_section>.section_title {
    font-size: var(--font-size_sidebar-title);
}

.sidebar_subtitle {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.4rem;
    font-size: var(--font-size_subtitle);
}

.sidebar_contacts-block {
    display: flex;
    margin-bottom: 1rem;
}

.sidebar_contact {
    width: 7.5rem;
    font-size: var(--font-size_subtitle);
}

.sidebar_contact-value {
    flex: 1;
    font-size: var(--font-size_subtitle);
    line-height: 1.4;
    text-align: right;
    color: inherit;
}

.sidebar_contact-value--email {
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
}

.sidebar_socials {
    display: block;
}

.sidebar_socials-item {
    margin-bottom: 1.6rem;
}

.sidebar_socials-label {
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.sidebar_socials-link {
    text-decoration: underline;
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.sidebar_skill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
}

.sidebar_skill-progress {
    width: 3.5rem;
    flex: 1 0 3.5rem;
    padding-top: 0.2rem;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* hide it for now */
    display: none;
}

.sidebar_circle {
    width: 9px;
    height: 9px;
    margin-left: 1px;
    border-radius: 999px;
    border: 1px solid var(--accent_2);
    background-color: var(--accent_2);
}

.sidebar_circle.is-empty {
    background-color: transparent;
    opacity: 0.7;
}

/* mobile layout
----------------------------------------------------------- */

@media screen and (max-width: 720px) {
    .container {
        display: block;
    }
    .sidebar {
        display: block;
        padding-bottom: 3rem;
        min-width: 100%;
        max-width: initial;
    }
    .main {
        display: block;
        padding: 1.5rem 3rem;
    }
    ul {
        padding-left: 1.5rem;
    }
    .title_svg path {
        stroke-dasharray: 300;
        stroke-dashoffset: 0;
    }
    @keyframes dash {
        from {
            fill: rgba(0, 0, 0, 0);
            stroke-dashoffset: 300;
        }
        to {
            fill: rgba(0, 0, 0, 0.02);
            stroke-dashoffset: 0;
        }
    }
    .sidebar,
    .sidebar.reveal {
        animation: none;
        transform: none;
        opacity: 1;
    }
}